<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Document</title>
</head>

<body style=" overflow-y: hidden; overflow-x: hidden; background-color: aquamarine;">
    <section>
        <h1 style="padding-left: 540px; font-size:xx-large;">Annual Gathering Activites Choices</h1>
        <form method="post" action="/submit";" style="color: red; font-size: larger; font-weight: 700; padding: 20px; ;">
            <label for="name" style="margin-top: 10px;  padding: 2px; ">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email" style="margin-top: 10px;  padding: 2px;">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="age" style="margin-top: 10px;  padding: 4px;">PRN:</label>
            <input type="number" id="prn" name="prn">
            <br>
            <label for="locality" style="margin-top: 10px;  padding: 2px;">Branch:</label>
            <input type="text" id="branch" name="branch">
            <br>
            <label for="Blood_Group" style="margin-top: 10px;  padding: 2px;">Choice:</label>
            <input type="text" id="choice" name="choice">
            <br>
            <button type="submit" style="background-color: orange; border-radius: 20px; width: 60px; height: 30px; margin-top: 10px;" >Submit</button>
        </form>
        <!-- <form method="post" action="/submit" style="display: flex; align-items: center; gap: 10px; padding-top: 30px;">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="prn">Age:</label>
            <input type="number" id="prn" name="prn">
            <br>
            <label for="branch">Loacality:</label>
            <input type="text" id="branch" name="branch">
            <br>
            <label for="choice">Blood Group:</label>
            <input type="text" id="choice" name="choice">
            <br>
        </form>
        <button type="submit">Submit</button>
        <form method="post" action="/submit" style="display: flex; align-items: center; gap: 10px; padding-top: 30px;">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="prn">Age:</label>
            <input type="number" id="prn" name="prn">
            <br>
            <label for="branch">Loacality:</label>
            <input type="text" id="branch" name="branch">
            <br>
            <label for="choice">Blood Group:</label>
            <input type="text" id="choice" name="choice">
            <br>
        </form>
        <button type="submit">Submit</button> -->
        <!-- <form method="post" action="/submit" style="display: flex; align-items: center; gap: 10px; padding-top: 30px;">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="prn">Age:</label>
            <input type="number" id="prn" name="prn">
            <br>
            <label for="branch">Loacality:</label>
            <input type="text" id="branch" name="branch">
            <br>
            <label for="choice">Blood Group:</label>
            <input type="text" id="choice" name="choice">
            <br> -->
        <!-- </form>
        <button type="submit">Submit</button> -->
    </section>
    <!-- <div style="padding-top: 120px; display: flex; justify-content: center; ">
        <!-- <img src="images/download.jpg" alt="">  -->
        <!-- <img src="images/download.jpg " alt="" style="width: 420px;"> -->
        <!-- <img src="images/image1.jpg" alt="">
        <img src="images/image1.jpg" alt="">
        <img src="images/image1.jpg" alt=""> -->
    <!-- </div> --> 
</body>

</html>